@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

:root {
  --bg-primary-color: #111111;
  --bg-secondary-color: #111213;
  --bg-tertiary-color: #121212;

  --app-primary-type: Inria Sans, sans-serif;
}

.button {
  border: 1px solid;
  border-image-slice: 1;
  background-color: #111;
  border-image-source: linear-gradient(
    90deg,
    rgba(49, 129, 223, 0.5) -36.31%,
    rgba(146, 49, 223, 0.5) 50.69%,
    rgba(49, 77, 223, 0.5) 135.89%
  );
}

.button p {
  color: #b268d4;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;
}
