@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

:root {
  --bg-primary-color: #111111;
  --bg-secondary-color: #111213;
  --bg-tertiary-color: #121212;

  --app-primary-type: Inria Sans, sans-serif;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  border: 1px solid;

  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    #397de4 -24.08%,
    #9231df 47.56%,
    #317adf 122.24%
  );

  margin-top: 4rem;

  width: 30vw;
  height: 10vh;

  background: #121212;
  border-radius: 20px;
}

.button p {
  color: #b268d4;

  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;
}
