@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

:root {
  --bg-primary-color: #111111;
  --bg-secondary-color: #111213;
  --bg-tertiary-color: #121212;

  --app-primary-type: Inria Sans, sans-serif;
}

.quoteCardContainer {
  background: -webkit-linear-gradient(90deg, #397DE4 -24.08%, #9231DF 47.56%, #317ADF 122.24%);
  width: 70vw;
  height: 40vh;
  border-radius: 4px;
  padding: 2px;
}

.quoteCardInternal {
  background: var(--bg-primary-color);
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  width: 70vw;
  height: 40vh;
  border-radius: 4px;
}