@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

:root {
  --bg-primary-color: #111111;
  --bg-secondary-color: #111213;
  --bg-tertiary-color: #121212;

  --app-primary-type: Inria Sans, sans-serif;
}

html {
  background-color: var(--bg-primary-color);
}
